@use '../utilities/' as *;

.bill {
    margin-inline: auto;

    &__label {
        @extend %text-style-1;
        @extend %fw-b;
        @extend %border-radius-5px;
        text-align: center;
        background-color: var(--clr-neutral-600);
        padding: rem(12) rem(16);
        cursor: pointer;

        &:hover {
            @extend %text-style-2;
            background-color: var(--clr-primary-100);
        }
    }
    &__radio {
        display: none;
    }

    .active-label {
        @extend %text-style-2;
        @extend %fw-b;
        background-color: var(--clr-primary-100);
    }

    fieldset {
        border: 0;
        padding: 0;
        margin-block: rem(16);

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, rem(150)), 1fr));
        gap: rem(10);
    }
}

.input__text-style {
    @extend %text-style-2;
    @extend %fw-b;
    @extend %border-radius-5px;
    text-align: right;
    background-color: var(--clr-neutral-200);
    outline: none;
    border: 1px solid transparent;
    padding: rem(10);
    width: 100%;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
    }

    transition: border-color .3s ease-in;
    &:focus {
        border-color: var(--clr-primary-100);
    }
}

.bill-input {
    margin-bottom: rem(16);
    background: {
        image: url('../assets/icons/icon-dollar.svg');
        repeat: no-repeat;
        position: left;
        position-x: 15px;
    };
}

.people {
    transition: border-color .3s ease-in;
    background: {
        image: url('../assets/icons/icon-person.svg');
        repeat: no-repeat;
        position: left;
        position-x: 15px;
    };
}

.error-people {
    border-color: hsl(0, 100%, 50%);
}

.custom-input {
    @extend %text-style-2;
    @extend %fw-b;
    @extend %border-radius-5px;
    padding-inline: rem(12);
    text-align: right;
    background-color: var(--clr-neutral-200);
    outline: none;
    border: 1px solid transparent;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
    }

    transition: border-color .3s ease-in;
    &:focus {
        border-color: var(--clr-primary-100);
    }
}