$colors: (
    primary: (
        100: hsl(172, 67%, 45%),
    ),
    neutral: (
        100: hsl(0, 0%, 100%),
        200: hsl(189, 41%, 97%),
        300: hsl(185, 41%, 84%),
        400: hsl(184, 14%, 56%),
        500: hsl(186, 14%, 43%),
        600: hsl(183, 100%, 15%),
    ),
)