@font-face {
    font-family: 'SpaceMono';
    src: 
        url('../assets/fonts/SpaceMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono Bold';
    src: 
        url('../assets/fonts/SpaceMono-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}